<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>居间费率</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery/jquery-1.8.3.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
</head>
<body>
<div class="wrap" id="fee">
    <div class="mainTitle">
        <div class="back" onclick="window.history.back(-1)"></div>
        <span class="f38">居间费率</span>
    </div>
    <!--<div class="main">
        <div class="ofh">
            <div class="fl bgGray">认购金额</div>
            <div class="fl bgGray">居间费率</div>
            <div class="fl">100万≤X＜300万</div>
            <div class="fl">0.99%</div>
            <div class="fl">300万≤X＜2000万</div>
            <div class="fl">0.70%</div>
            <div class="fl">2000万≤X</div>
            <div class="fl">0.40%</div>
        </div>
    </div>-->
    <div class="main" v-if="message&&message.length > 0">
        <div class="title" v-text="thisTitle">&nbsp;</div>
        <div class="table">
            <table>
                <tr>
                    <th>年期</th>
                    <th>第一年</th>
                    <th>第二年</th>
                    <th>第三年</th>
                    <th>第四年</th>
                    <th>第五年</th>
                    <th>合计</th>
                </tr>
                <tr v-for="i in message">
                    <td v-text="i.Year">&nbsp;</td>
                    <td v-text="i.First">&nbsp;</td>
                    <td v-text="i.Second">&nbsp;</td>
                    <td v-text="i.Third">&nbsp;</td>
                    <td v-text="i.Four">&nbsp;</td>
                    <td v-text="i.Five">&nbsp;</td>
                    <td v-text="i.Sum">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="js/fee.js"></script>
</body>
</html>