<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery/jquery-1.8.3.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
</head>
<body>
<div class="wrap" id="detail">
    <div class="header w" v-if="type == 'fixed'">
        <div class="mainTitle w">
            <div class="back" v-if="!bottomBtn" onclick="window.history.back(-1)"></div>
            <span class="f38" v-text="message.artName">&nbsp;</span>
            <div class="share"  v-if="!bottomBtn" v-if="message.artName" v-on:click="shareFun(message.artName)"></div>
        </div>
        <div class="f80 pt" v-html="(message.ExpectedEarningMin || 0) + '<span class=\'f36\'>%</span>'">&nbsp;</div>
        <div class="f26">预期年化收益</div>
        <div class="headerFooter ofh">
            <div class="fl">
                <div class="f30" v-text="message.DeadlineNumber || '- -'">&nbsp;</div>
                <div class="f26">产品期限</div>
            </div>
            <div class="fl">
                <div class="f30" v-text="message.Scale || '- -'">&nbsp;</div>
                <div class="f26">基金规模</div>
            </div>
            <div class="fl none">
                <div class="f30" v-text="message.status || '- -'">&nbsp;</div>
                <div class="f26">募集状态</div>
            </div>
        </div>
    </div>
    <div class="header w" v-if= "type =='private' || type =='sunPrivate'">
        <div class="mainTitle w">
            <div class="back" v-if="!bottomBtn" onclick="window.history.back(-1)"></div>
            <span class="f38">产品详情</span>
            <div class="share"  v-if="!bottomBtn" v-if="message.artName" v-on:click="shareFun(message.artName,1)"></div>
        </div>
        <div class="bFont pt">
            <div v-text="message.artName">&nbsp;</div>
        </div>
        <div class="headerFooter ofh">
            <div class="fl">
                <div class="f30" v-text="message.deleDate || message.FundRenewal || message.Deadline || '- -'">&nbsp;</div>
                <div class="f26">产品期限</div>
            </div>
            <div class="fl">
                <div class="f30" v-text="message.fundScale || '- -'">&nbsp;</div>
                <div class="f26">基金规模</div>
            </div>
            <div class="fl none">
                <div class="f30" v-text="message.status || '- -'">&nbsp;</div>
                <div class="f26">募集状态</div>
            </div>
        </div>
    </div>
    <div class="insurance" v-if="type == 'insurance'">
        <div class="mainTitle">
            <div class="back" v-if="!bottomBtn" onclick="window.history.back(-1)"></div>
            <span class="f38">产品详情</span>
            <div class="share"  v-if="!bottomBtn" v-if="message.artName" v-on:click="shareFun(message.artName)"></div>
        </div>
        <div class="insuranceHeader">
            <div class="f32 one" v-text="message.artName">&nbsp;</div>
            <div class="f26 one" v-text="message.ProductLight">&nbsp;</div>
        </div>
    </div>
    <div class="header w" v-if="type == 'immigrant'">
        <div class="mainTitle w">
            <div class="back" v-if="!bottomBtn" onclick="window.history.back(-1)"></div>
            <span class="f38" v-text="message.artName">&nbsp;</span>
            <div class="share"  v-if="!bottomBtn" v-if="message.artName" v-on:click="shareFun(message.artName)"></div>
        </div>
        <div class="f80 pt" v-text="message.lowestMoney">&nbsp;</div>
        <div class="f26" v-text="status == 1 ? '投资金额('+message.lowestMoneyuUnit+')' : '价格('+message.lowestMoneyuUnit+')'"></div>
        <div class="headerFooter ofh" v-if="status == 1">
            <div class="fl">
                <div class="f30" v-text="message.destination || '- -'">&nbsp;</div>
                <div class="f26">移民国家</div>
            </div>
            <div class="fl">
                <div class="f30" v-text="message.cycle || '- -'">&nbsp;</div>
                <div class="f26">办理周期</div>
            </div>
            <div class="fl none">
                <div class="f30" v-text="message.investee || '- -'">- -</div>
                <div class="f26">移民类别</div>
            </div>
        </div>
        <div class="headerFooter ofh" v-if="status != 1">
            <div class="fl">
                <div class="f30" v-text="message.destination || '- -'">&nbsp;</div>
                <div class="f26">国家</div>
            </div>
            <div class="fl">
                <div class="f30" v-text="message.investee || '- -'">&nbsp;</div>
                <div class="f26">类型</div>
            </div>
            <div class="fl none">
                <div class="f30" v-text="message.proportion || '- -'">- -</div>
                <div class="f26">面积(m²)</div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div>
            <div class="normal" v-on:click="href('fee.html?name='+message.artName+'&areId='+message.areID)">
                <span>居间费率</span>
                <div class="icon"></div>
            </div>
        </div>
        <!--<div v-if="!fee">
            <div class="normal" v-on:click="href('feeNone.html')">
                <span>居间费率</span>
                <div class="icon"></div>
            </div>
        </div>-->
        <div v-if="type == 'fixed' || type == 'private' || type =='sunPrivate'">
            <div class="title ofh">
                <div class="fl black" v-on:click="curNo = 1" v-bind:class="{active:curNo == 1}">基本信息</div>
                <div class="fl black" v-on:click="curNo = 2" v-bind:class="{active:curNo == 2}">亮点介绍</div>
                <div class="fl black" v-on:click="curNo = 3" v-bind:class="{active:curNo == 3}">产品详情</div>
            </div>
            <div class="list" v-if="type == 'fixed' && curNo == 1">
                <div>
                    <div>起投金额</div>
                    <div class="r" v-text="message.startpoint">&nbsp;</div>
                </div>
                <div>
                    <div>发行机构</div>
                    <div class="r" v-text="message.sprName">&nbsp;</div>
                </div>
                <div>
                    <div>大小配比</div>
                    <div class="r" v-text="message.Matching">&nbsp;</div>
                </div>
                <div>
                    <div>付款方式</div>
                    <div class="r" v-text="message.DistributeStyle">&nbsp;</div>
                </div>
            </div>
            <div class="list" v-if="(type == 'private' || type == 'sunPrivate') && curNo == 1">
                <div>
                    <div>起投金额</div>
                    <div class="r" v-text="message.SubscribeStartPoint">&nbsp;</div>
                </div>
                <div>
                    <div>基金管理人</div>
                    <div class="r" v-text="message.custodianr || message.custodian">&nbsp;</div>
                </div>
                <div>
                    <div>基金类型</div>
                    <div class="r" v-text="message.fundType">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="light" v-if="curNo == 2 && (type == 'fixed'||type == 'private'||type == 'sunPrivate')">
            <div class="content">
                <div v-html="message.lightspot || '暂无介绍'"></div>
            </div>
        </div>
        <div class="introduce detail" v-if="type == 'fixed' && curNo == 3">
            <div class="title gray">募集账户</div>
            <div class="content">
                <div v-text="'账户名：'+message.CollectAccountName">&nbsp;</div>
                <div v-text="'开户名：'+message.CollectAccountBank">&nbsp;</div>
                <div v-text="'账户：'+message.CollectAccountNumber">&nbsp;</div>
                <div v-text="'备注：'+message.CollectAccountMemo">&nbsp;</div>
            </div>
            <div class="title gray">融资方介绍</div>
            <div class="content">
                <div v-text="message.IssuerFirm">&nbsp;</div>
            </div>
            <div class="title gray">管理人介绍</div>
            <div class="content">
                <div v-html="message.ManageUser"></div>
            </div>
        </div>
        <div class="introduce detail" v-if="(type == 'private'||type == 'sunPrivate') && curNo == 3">
            <div class="title gray">详情介绍</div>
            <div class="content">
                <div v-html="message.content"></div>
            </div>
            <div class="title gray">募集账户</div>
            <div class="content">
                <div v-text="'账户名：'+message.AccountBank">&nbsp;</div>
                <div v-text="'开户名：'+(message.AccountNamek ? message.AccountNamek : message.AccountName)">&nbsp;</div>
                <div v-text="'账户：'+message.AccountNumber">&nbsp;</div>
                <div v-text="'备注：'+message.accountmemo">&nbsp;</div>
            </div>
            <div class="title gray" v-if="message.FundStrategy">资金策略</div>
            <div class="content" v-if="message.FundStrategy">
                <div v-text="message.FundStrategy">&nbsp;</div>
            </div>
            <div class="title gray" v-if="message.resume">团队介绍</div>
            <div class="content" v-if="message.resume">
                <div v-html="message.resume">&nbsp;</div>
            </div>
        </div>
        <div v-if="type == 'insurance'">
            <div class="title ofh four">
                <div class="fl black" v-on:click="curNo = 1" v-bind:class="{active:curNo == 1}">产品亮点</div>
                <div class="fl black" v-on:click="curNo = 2" v-bind:class="{active:curNo == 2}">保障内容</div>
                <div class="fl black" v-on:click="curNo = 3" v-bind:class="{active:curNo == 3}">投保规则</div>
                <div class="fl black" v-on:click="curNo = 4" v-bind:class="{active:curNo == 4}">附件</div>
            </div>
        </div>
        <div v-if="type == 'insurance' && curNo == 1">
            <div class="content" v-html="message.ProductLightDetail || '暂无信息'"></div>
        </div>
        <div v-if="type == 'insurance' && curNo == 2">
            <div class="content" v-html="message.Schutzbereich || '暂无信息'"></div>
        </div>
        <div v-if="type == 'insurance' && curNo == 3">
            <div class="content" v-html="message.InsuranceRules || '暂无信息'"></div>
        </div>
        <div v-if="type == 'insurance' && curNo == 4">
            <div class="content" v-html="message.ContentFile || '暂无信息'"></div>
        </div>
        <div v-if="type == 'immigrant'">
            <div class="content" v-if="status == 0">
                <div>地区: {{message.area || '- -'}}</div>
                <div>位置: {{message.location || '- -'}}</div>
            </div>
            <div class="content" v-if="status == 1">
                <div>投资方式: {{message.investmentMethod || '- -'}}</div>
            </div>
        </div>
        <div v-if="type == 'immigrant'">
            <div class="title ofh three" v-if="status == 1">
                <div class="fl black" v-on:click="curNo = 1" v-bind:class="{active:curNo == 1}">申请条件</div>
                <div class="fl black" v-on:click="curNo = 2" v-bind:class="{active:curNo == 2}">申请流程</div>
                <div class="fl black" v-on:click="curNo = 3" v-bind:class="{active:curNo == 3}">优势介绍</div>
            </div>
            <div class="title ofh three" v-if="status != 1">
                <div class="fl black" v-on:click="curNo = 1" v-bind:class="{active:curNo == 1}">产品详情</div>
                <div class="fl black" v-on:click="curNo = 2" v-bind:class="{active:curNo == 2}">优势介绍</div>
            </div>
        </div>
        <div v-if="type == 'immigrant' && curNo == 1">
            <div v-if="status == 1" class="content" v-html="message.costDetails || '暂无信息'"></div>
            <div v-if="status != 1" class="content" v-html="message.feedetail || '暂无信息'"></div>
        </div>
        <div v-if="type == 'immigrant' && curNo == 2">
            <div v-if="status == 1" class="content" v-html="message.pplicationProcess || '暂无信息'"></div>
            <div v-if="status != 1" class="content" v-html="message.introduction || '暂无信息'"></div>
        </div>
        <div v-if="type == 'immigrant' && curNo == 3">
            <div class="content" v-html="message.introduction || '暂无信息'"></div>
        </div>
    </div>
    <div v-if="type == 'private'||type == 'sunPrivate'" style="padding-bottom: .5rem;">
        <div style="text-align: center;line-height: 1.5;">仅对定向合格投资者宣传</div>
        <div style="padding:0 .3rem;line-height: 1.5;">《私募投资基金监督管理暂行办法》关于“合规投资者”标准之规定，即具备相应风险识别能力和风险承担能力，投资于单只私募基金的金额不低于100万元，且个人金融类资产不低于300万元或者最近三年个人年均收入不低于50万元人民币。</div>
    </div>
    <div class="download" v-if="bottomBtn == 'isShare'" onclick="window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.anyin.app'">
        <div class="f30">安盈理财师</div>
        <div class="register">马上注册</div>
    </div>
    <a href="tel:020-22163687" class="blueBtn f36" v-if="bottomBtn == ''"><div class="i">咨询/预约</div></a>
    <div id="loading" v-show="loadingShow">
        <div class="load-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<script src="js/detail.js"></script>
<script src="js/main.js"></script>
</body>
</html>